<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>
<style>
 body{
    margin: -56px 0;
    padding: 0;
    background-image: url('../../assets/tce.jpg'); /* Replace 'your-image-url.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
   
  }
  .errorMessage{
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
</head>
<body>
  <div class="background"></div>
<div class="outerdiv">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <h2 class="mb-4 text-center" style="margin-top:20px;color: rgb(225, 198, 20);font-family:Arial, Helvetica, sans-serif  ;font-style: oblique;">Faculty Register Form</h2>
            <div class="errorMessage" style="color: red;font-weight: 500;"></div>
            <form [formGroup]="facultyForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name" required>
                    <div *ngIf="facultyForm.get('name')!.hasError('required') && facultyForm.get('name')!.touched" class="error-message">
                        Name is required</div>
                    <div *ngIf="facultyForm.get('name')!.hasError('pattern') && facultyForm.get('name')!.touched"
                        class="error-message">
                        Name should contain only alphabets</div>
                </div>
                <div class="mb-3">
                    <label for="employeeId" class="form-label">Subject Code</label>
                    <input type="text" class="form-control" id="employeeId" placeholder="Enter the employeeId"
                        formControlName="employeeId" required>
                    <div *ngIf="facultyForm.get('employeeId')!.hasError('required') && facultyForm.get('employeeId')!.touched"
                        class="error-message">
                        Subject code is required</div>
                        <div *ngIf="facultyForm.get('employeeId')!.hasError('pattern') && facultyForm.get('employeeId')!.touched"
                        class="error-message">
                        Enter only Numbers</div>
                        <div *ngIf="facultyForm.get('employeeId')!.hasError('maxlength') && facultyForm.get('employeeId')!.touched"
                        class="error-message">
                        ID must be four number</div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email" formControlName="email"
                        required>
                    <div *ngIf="facultyForm.get('email')!.hasError('required') && facultyForm.get('email')!.touched"
                        class="error-message">
                        Email is required</div>
                    <div *ngIf="facultyForm.get('email')!.hasError('email') && facultyForm.get('email')!.touched"
                        class="error-message">
                        Enter a valid Email</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter the password"
                        formControlName="password" required>
                    <div class="error-message" *ngIf="facultyForm.get('password')!.hasError('required') && facultyForm.get('password')!.touched">
                        Password is required.
                    </div>
                    <div class="error-message" *ngIf="facultyForm.get('password')!.hasError('minlength') && facultyForm.get('password')!.touched">
                        Password must be at least 8 characters long.
                    </div>
                    <div class="error-message" *ngIf="facultyForm.get('password')!.hasError('pattern') && facultyForm.get('password')!.touched">
                        Password must contain at least one lowercase, uppercase, and symbol.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Enter the subject"
                        formControlName="subject" required>
                    <div *ngIf="facultyForm.get('subject')!.hasError('required') && facultyForm.get('subject')!.touched"
                        class="error-message">
                        Subject is required</div>
                    <div *ngIf="facultyForm.get('subject')!.hasError('pattern') && facultyForm.get('subject')!.touched"
                        class="error-message">
                        Subject should contain only alphabets</div>
                </div>

                <div class="mb-3">
                    <label for="subjectCode" class="form-label">Subject Code</label>
                    <input type="text" class="form-control" id="subjectCode" placeholder="Enter the subject code"
                        formControlName="subjectCode" required>
                    <div *ngIf="facultyForm.get('subjectCode')!.hasError('required') && facultyForm.get('subjectCode')!.touched"
                        class="error-message">
                        Subject code is required</div>
                </div>

                <div class="mb-3">
                    <label for="department" class="form-label">Department</label>
                    <input type="text" class="form-control" id="department" placeholder="Enter your department"
                        formControlName="department" required>
                    <div *ngIf="facultyForm.get('department')!.hasError('required') && facultyForm.get('department')!.touched"
                        class="error-message">
                        Department is required</div>
                    <div *ngIf="facultyForm.get('department')!.hasError('pattern') && facultyForm.get('department')!.touched"
                        class="error-message">
                        Department should contain only alphabets</div>
                </div>
                <div class="text-center">
                <button type="submit" class="btn-custom" [disabled]="facultyForm.invalid">Submit</button>
              </div> 
              </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
