<div class="container mt-5">
    <h2 class="mb-4">Contact Form</h2>
    <div class="errorMessage"></div>
    <form [formGroup]="facultyForm" (ngSubmit)="onSubmit()">
      <div class="mb-3" >
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name"  formControlName="name">
        <div *ngIf="facultyForm.get('name')!.hasError('required') && facultyForm.get('name')!.touched" class="error-message">
        Name is required</div>
        <div *ngIf="facultyForm.get('name')!.hasError('pattern') && facultyForm.get('name')!.touched" class="error-message">
        Name have only alphabet</div>
      </div>
     
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email"  formControlName="email">
        <div *ngIf="facultyForm.get('email')!.hasError('required') && facultyForm.get('email')!.touched" class="error-message">
            email is required</div>
            <div *ngIf="facultyForm.get('email')!.hasError('email') && facultyForm.get('email')!.touched" class="error-message">
            enter valid Email</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter the password"  formControlName="password">
        <div class="error-message" *ngIf="facultyForm.get('password')!.hasError('required') && facultyForm.get('password')!.touched">
            Password is required.
          </div>
          <div class="error-message" *ngIf="facultyForm.get('password')!.hasError('minlength') && facultyForm.get('password')!.touched">
            Password must be at least 8 characters long.
          </div>
          <div class="error-message" *ngIf="facultyForm.get('password')!.hasError('pattern') && facultyForm.get('password')!.touched">
            Password must contain at least one lowercase, uppercase, and symbol.
          </div>
      </div>
      <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" class="form-control" id="subject" placeholder="Enter the subject"  formControlName="subject">
        <div *ngIf="facultyForm.get('subject')!.hasError('required') && facultyForm.get('subject')!.touched" class="error-message">
            Subject is required</div>
            <div *ngIf="facultyForm.get('subject')!.hasError('pattern') && facultyForm.get('subject')!.touched" class="error-message">
            Subject have only alphabet</div>
      </div>
      <div class="mb-3">
        <label for="subjectCode" class="form-label">Subject Code</label>
        <input type="text" class="form-control" id="subjectCode" placeholder="Enter the subject code"  formControlName="subjectCode">
        <div *ngIf="facultyForm.get('subjectCode')!.hasError('required') && facultyForm.get('subjectCode')!.touched" class="error-message">
            Subject code is required</div>
      </div>
      <div class="mb-3">
        <label for="department" class="form-label">Department</label>
        <input type="text" class="form-control" id="department" placeholder="Enter your department"  formControlName="department">
        <div *ngIf="facultyForm.get('subject')!.hasError('required') && facultyForm.get('subject')!.touched" class="error-message">
            department is required</div>
            <div *ngIf="facultyForm.get('subject')!.hasError('pattern') && facultyForm.get('subject')!.touched" class="error-message">
            department have only alphabet</div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="facultyForm.invalid">Submit</button>
    </form>
  </div>
