<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <style>
        /* Your custom styles */
        .date-container {
            margin: 20px;
            max-width: 300px;
        }

        .errorMessage {
            color: red;
            margin-bottom: 10px;
        }

        .form-control {
            margin-bottom: 10px;
        }

        .btn {
            /* margin-right: 5px; */
            margin: 5px;
        }
        #heading{
            margin: 5px;
        }
    </style>
    <title>Date Input Container</title>
</head>
<body>

<h1 class="display-9" id="heading">Holiday Functions</h1>

<div class="date-container">
    <div class="errorMessage" *ngIf="errorMes">{{errorMes}}</div>
   
    <label for="dates" class="form-label">Enter Date:</label>
    <input type="date" id="dates" class="form-control form-control-lg" placeholder="Select exist Holiday dates" (input)="enteredDate($event)" required>
    <div *ngIf="updateFlag">
    <label for="dates" class="form-label">Enter Date:</label>
    <input type="date" id="dates" class="form-control form-control-lg" placeholder="Select update Holiday dates" (input)="updatedDate($event)" required></div>
    <label for="reason" class="form-label">Reason for Leave:</label>
    <textarea id="reason" class="form-control" rows="4" placeholder="Enter reason for leave" [(ngModel)]="leaveReason" required></textarea>
    
    <button class="btn btn-primary btn-lg" (click)="addDates()">Add</button>
    <button class="btn btn-primary btn-lg" (click)="updateDates()">Update</button>
    <button class="btn btn-danger btn-lg" (click)="deleteDate()">Delete</button> 
    <button class="btn btn-primary btn-lg" (click)="clear()">Clear Data</button>
</div>

</body>
</html>
