<style>
  /* Custom CSS for button hover effect */
  .btn-allow:hover {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
  }
  button{
    margin: 5px;
  }
  .btn-deny:hover {
    background-color: #f70e25 !important;
    border-color: #e8091f !important;
  }
  h1{
    padding: 10px;
  }
  table{
    width: 100%;
  }
</style>

<body>

<h1 class="text-center" id="heading">Faculty Admit</h1>

<div class="container">
<table class="table table-bordered table-hover">
  <caption>Faculty Registered</caption>
  <thead class="table-primary">
    <tr>
      <th>Name</th>
      <th>EmployeeId</th>
      <th>Department</th>
      <th>Subject Code</th>
      <th>Subject</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let faculty of facultyDataToPermit">
      <td>{{ faculty.name }}</td>
      <td>{{faculty.employeeId}}</td>
      <td>{{ faculty.department }}</td>
      <td>{{ faculty.subjectCode }}</td>
      <td>{{ faculty.subject }}</td>
      <td>
        <button (click)="allowFaculty(faculty.email, faculty.department, faculty)" class="btn btn-success btn-allow">Allow</button>
        <button (click)="denyFaculty(faculty.email, faculty.department, faculty)" class="btn btn-danger btn-deny">Deny</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<!-- Bootstrap JS (Optional) -->

</body>